header
	background: url(../img/bg.jpg), #019851
	background-size: cover
	background-position: center 0
	background-repeat: no-repeat
	.contenedor_logo_menu
		padding: 25px 0
		border-bottom: 1px solid rgba(255,255,255,.4)
		.logo
			a
				display: block
				img
					vertical-align: top
		
			